body {
  background-color: #111;
  color: white;
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  max-width: 400px;
  width: 100%;
}

h1 {
  font-size: 2em;
  position: relative;
  display: inline-block;
}

.price {
  transition: color 0.5s ease;
  margin-left: 0.3em;
  margin-right: 0.5em;
  font-weight: bold;
}

.arrow {
  display: inline-block;
  font-size: 1.05em; /* zmenšeno o 30% */
  vertical-align: middle;
  opacity: 0;
  transition: opacity 0.3s ease;
  user-select: none;
  width: 0.84em;
  height: 0.84em;
  line-height: 0.84em;
}

.arrow.up {
  color: #00ff00;
}

.arrow.down {
  color: #ff3300;
  transform: rotate(180deg);
}

.emoji {
  font-size: 5em;
  margin-top: 20px;
  transition: all 0.3s ease;
  text-shadow: 0 0 10px #fff;
  user-select: none;
}

.emoji.up {
  color: #00ff00;
  text-shadow: 0 0 15px #00ff00;
}

.emoji.down {
  color: #ff0000;
  text-shadow: 0 0 15px #ff0000;
}

.emoji.neutral {
  color: #aaa;
  text-shadow: 0 0 10px #666;
}